@import './variables';
@import './mixins';

.hero{
  height: 350px;
  align-items: center;
  overflow: hidden;
  @include for-tablet-portrait-up {
    height: initial;
  }
}

.hero img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}