@import './variables';
@import './mixins';

.itemContainer{
  background-color: $color3;
  display: flex;
  padding: 5%;
  justify-content: space-evenly;
  @include for-phone-only  {
    flex-direction: column;
  }
}