@import './variables';
@import './mixins';

.itemContainer{
  background-color: $color3;
  display: flex;
  padding-bottom: 2%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  @include for-phone-only  {
    flex-direction: column;
    align-items: center;
  }
}

.titleContainer{
  width: 100%;
  flex-direction: column;
}

.titleContainer > h1{
  @include for-tablet-portrait-up {
    font-size: $size2;
  }
  @include for-phone-only {
    font-size: $size3;
  }
}